[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
homebrew-pypi-poet = "*"

[packages]
halo = "*"
requests = "*"
albumart-dl = {editable = true,path = "."}

[requires]
python_version = "3.7"
